.item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid lightgrey;
  margin: 5px;
}

.item-name {
  border: solid 1px lightgrey;
  border-radius: 15px;
  padding: 5px;
  background-color: blue;
  color: white;
}

.icon {
  height: 80px;
  margin-right: 10px;
}

.title-cont {
  display: flex;
  flex-flow: row;
}
.item-cont {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
}

#header {
  color: white;
  justify-content: space-between;
  display: flex;
  background-color: blue;
}

.decrement {
  border-radius: 15px;
  border: lightgrey solid 1px;
  padding: 5px;
  cursor: pointer;
}
.increment {
  border-radius: 15px;
  border: lightgrey solid 1px;
  padding: 5px;
  cursor: pointer;
}
.delete {
  border-radius: 15px;
  border: lightgrey solid 1px;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 5px;
}

.create {
  border-radius: 8px;
  border: 1px lightgrey solid;
  cursor: pointer;
  padding: 5px;
  background-color: blue;
  color: white;
}

.form {
  display: flex;
  justify-content: center;
}

input {
  border: solid 1px lightgrey;
  border-radius: 5px;
  margin: 5px;
}
